<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd"
>
 
    <wss:binding url="/car">
        <wss:service>
            <ws:service bean="#carWs"/>
        </wss:service>
    </wss:binding>

    <!-- Web service methods -->
    <bean id="carWs" class="com.company.ws.CarWS">
    	<property name="car" ref="carBo" />
    </bean>
    
    <bean id="carBo" class="com.company.impl.RollsRoyce" />

    <bean id="accountService" class="com.company.impl.AccountServiceImpl" />

    <bean class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
        <property name="baseAddress" value="http://localhost:8080/account"/>
    </bean>

    <!-- this contains @WebService(serviceName="AccountService")
        it also autowires the accountService interface inside it
    -->
    <bean id="accountServiceEndpoint" class="com.company.ws.AccountServiceEndpoint" />

</beans>